<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Path_WindowsTemp"           value="C:\Windows\Temp"/>
		<add key="Path_WindowsMinidump"       value="C:\Windows\Minidump"/>
		<add key="Path_LocalTemp"             value="%LOCALAPPDATA%\Temp"/>
		<add key="Path_CrashDumps"            value="%LOCALAPPDATA%\CrashDumps"/>
		<add key="Path_WER_LocalArchive"      value="%LOCALAPPDATA%\Microsoft\Windows\WER\ReportArchive"/>
		<add key="Path_WER_LocalQueue"        value="%LOCALAPPDATA%\Microsoft\Windows\WER\ReportQueue"/>
		<add key="Path_WER_SystemArchive"     value="C:\ProgramData\Microsoft\Windows\WER\ReportArchive"/>
		<add key="Path_WER_SystemQueue"       value="C:\ProgramData\Microsoft\Windows\WER\ReportQueue"/>
		<add key="Path_ChromeCache"           value="%LOCALAPPDATA%\Google\Chrome\User Data\Default\Cache"/>
		<!--add key="Path_ChromeCodeCache"       value="%LOCALAPPDATA%\Google\Chrome\User Data\Default\Code Cache"/-->
		<add key="Path_ChromeGPUCache"        value="%LOCALAPPDATA%\Google\Chrome\User Data\Default\GPUCache"/>
		<add key="Path_EdgeCache"             value="%LOCALAPPDATA%\Microsoft\Edge\User Data\Default\Cache"/>
		<add key="Path_EdgeCodeCache"         value="%LOCALAPPDATA%\Microsoft\Edge\User Data\Default\Code Cache"/>
		<add key="Path_EdgeGPUCache"          value="%LOCALAPPDATA%\Microsoft\Edge\User Data\Default\GPUCache"/>
		<add key="Path_BraveCache"            value="%LOCALAPPDATA%\BraveSoftware\Brave-Browser\User Data\Default\Cache"/>
		<add key="Path_DiscordAppData"        value="%APPDATA%\Discord\Cache"/>
		<add key="Path_DiscordLocal"          value="%LOCALAPPDATA%\Discord\Cache"/>
		<add key="Path_Spotify"               value="%LOCALAPPDATA%\Spotify\Data"/>
		<!--add key="Path_Teams"                 value="%LOCALAPPDATA%\Microsoft\Teams\Cache"/-->
		<add key="Path_Slack"                 value="%LOCALAPPDATA%\Slack\Cache"/>
		<add key="Path_Zoom"                  value="%LOCALAPPDATA%\Zoom\data"/>
	</appSettings>
</configuration>